* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div_positioning {
    width: 100%;
    position: relative;
    top: 75px;
}

.header_nav_div {
    border: 2px solid yellow;
    width: 100%;
    background-color: rgba(255, 255, 0, 0.5);
    height: 75px;
    position: fixed;
}

.banner_div {
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.5);
    height: 600px;
}

.products_div {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.5);
    height: 600px;
}

.footer_div {
    border: 2px solid green;
    background-color: rgba(0, 255, 0, 0.5);
    height: 300px;
}